<section class="container">
  <nav class="top-nav navbar navbar-default">
    <div class="navbar-header">
      <p class='navbar-brand'>Joe Tracker</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <a href="http://rss.anything-joes.com" class="sm-btn btn btn-default">
        <img src="/assets/rss.png" class="sm-image">
      </a>
      <a {{bind-attr href=facebookURL}} class="sm-btn btn btn-default">
        <img src="/assets/facebook.png" class="sm-image">
      </a>
      <a class="btn btn-default standard-button" {{action "toggleStandard"}}>
        <span class="glyphicon glyphicon-cog"></span> {{standardText}}
      </a>
    </ul>
  </nav>

  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      {{#link-to "index" tagName="li"}}
        <a {{bind-attr href="view.href"}}>Updates</a>
      {{/link-to}}
      {{#link-to "progress-map" tagName="li"}}
        <a {{bind-attr href="view.href"}}>Map</a>
      {{/link-to}}
      {{#link-to "altitude" tagName="li"}}
        <a {{bind-attr href="view.href"}}>Altitude</a>
      {{/link-to}}
    </ul>
  </div>
  <div class="content col-md-9">
    {{outlet}}
  </div>
</section>
